extends layout

block content
  .inner
    h2= title
    .map
      .autocomplete
        input.autocomplete__input(type="text" name="geolocate" placeholder="Search for Anything")
    #map
      p Loading map...
